body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;

    background-color: #f2f2f2;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

.main-header {
    position: relative;
    background-color: #ffffff;
}

.page-wrapper {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.content-header {
    font-size: 21px;
    line-height: 26px;
}

.advantage-header {
    font-size: 21px;
    line-height: 21px;
}

.main-navigation {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.menu-navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu-navigation li {
    flex-basis: 25%;
    padding: 15px 0 15px 0;
}

.menu-navigation li:nth-child(1) {
    padding-left: 72px;
    text-align: left;
}

.menu-navigation li:nth-child(2) {
    text-align: left;
}

.menu-navigation li:nth-child(3) {
    text-align: right;
}

.menu-navigation li:nth-child(4) {
    text-align: right;
    padding-right: 72px;
    /*это же какой-то костыль?*/
}

.header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu-navigation a {
    color: #000000;
}

.menu-navigation a:hover,
.menu-navigation a:focus {
    color: #81B3D2;
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.menu-navigation .active-link {
    color: #766357;
}

.intro {
    background-color: #ffffff;
}

.intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 508px;
    background-image: url("../img/polygon.svg"),
    url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: bottom, 0 -56px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 216px;
}

.why-visit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tips {
    display: flex;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.advantage-blue {
    display: flex;
    color: #ffffff;
    background-color: #81B3D2;
}

.reverse {
    flex-direction: row-reverse;
}

.advantage-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.advantage-blue-header {
    font-size: 21px;
    text-align: center;
}

.search-form {
    position: relative;
    background-color: #ffffff;
}

.form-header {
    font-size: 30px;
    padding-bottom: 40px;
}

.search-form-intro {
    text-align: center;
    padding-top: 37px;
}

.pop-up-caller {
    background-color: #766357;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 900;
    width: 568px;
    padding-top: 28.5px;
    padding-bottom: 28.5px;
    border: none;
}

.pop-up-caller:hover,
.pop-up-caller:focus {
    background-color: #604E43;
}

.pop-up-caller:active {
    background-color: #503E33;
    color: rgba(255, 255, 255, 0.3);
}

.pop-up-search-form {
    display: none;
    position: absolute;
    top: 286px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    width: 568px;
    background-color: #ffffff;
}

.pop-up-search-button {
    background-color: #81B3D2;
    border: none;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 900;
    width: 458px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.pop-up-search-button:hover,
.pop-up-search-button:focus {
    background-color: #669EC0;
}

.pop-up-search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496BD;
}

.sort,
.checkboxes {
    list-style: none;
}

.filter-form {
    display: none;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.filter-form legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 900;
}

fieldset {
    border: none;
}

.filter-form-button {
    width: 137px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 2px #ffffff;
    background-color: transparent;
    text-transform: uppercase;
    color: #ffffff;
}

.filter-form-button:hover,
.filter-form-button:focus {
    background-color: #ffffff;
    color: #000000;
}

.sort-form {
    display: none;
}

.sort a {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: dotted 1px #81B3D2;
}

.sort a:hover,
.sort a:focus {
    color: #81B3D2;
    border-bottom: dotted 1px #81B3D2;
}

.sort a:active {
    color: #000000;
    border-bottom: none;
}

.sort .active-link {
    color: #81B3D2;
    border-bottom: none;
}

.hotel-item {
    display: flex;
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    padding: 30px 76px 30px 68px;
}

.hotel-description {
    display: flex;
    flex-wrap: wrap;
    width: 234px;
    margin: 0 30px;
}

.hotel-type {
    width: 47%;
    margin-right: 6px;
}

.hotel-price {
    width: 47%;
    margin-right: 6px;
}

.hotel-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
}

.hotel-mark {
    background-color: #f2f2f2;
    padding: 5px 16px;
}

.book {
    background-color: #766357;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 16px;
}

.book:hover,
.book:focus {
    background-color: #604E43;
}

.book:active {
    background-color: #503E33;
    color: rgba(255, 255, 255, 0.3)
}

.hotel-details {
    background-color: #81B3D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-weight: bold;
    padding: 5px 16px;
}

.hotel-details:hover,
.hotel-details:focus {
    background-color: #669EC0;
}

.hotel-details:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3)
}

.hotel-header {
    width: 100%;
    color: #000000;
    margin: 0;
}

.hotel-header:hover,
.hotel-header:focus {
    color: #81B3D2;
}

.hotel-header:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-stars {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-authors {
    display: flex;
    flex-basis: 33.33%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 76px;

}

.authors {
    font-size: 14px;
    line-height: 26px;
    margin-right: 8px;
}
.footer-contacts {
    width: 33.33%;
    padding-left: 68px;
    display: flex;
    flex-direction: column;
}

.contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 900;
    color: #000000;
}

.footer-social {
    width: 33.33%;
    text-align: center;
}

.footer-social ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    width: 150px;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81B3D2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669EC0;
}

.socal-button:active {
    background-color: #5496BD;
}

.footer-logo-htmlacademy:hover path,
.footer-logo-htmlacademy:focus path {
    fill: #81B3D2;    
}

.footer-logo-htmlacademy:active path {
    fill: #BDBBBC;
}